pandas
numpy
seaborn
matplotlib
scikit-learn==1.6.1
catboost
xgboost
dill
joblib
fastapi
uvicorn[standard]
python-multipart
shap
requests
pytest
sqlalchemy
pydantic

# Editable install for development
#-e .
